<!doctype html>
<html ng-app="App" ng-csp="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../scripts/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../scripts/libs/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/taggle.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div ng-controller="ProfileCtrl">
            <nav class="navbar navbar-default">
                <button class="btn btn-primary" ng-if="profile.current" ng-click="save()">
                    <span ng-if="!profile.existing">Dodaj</span>
                    <span ng-if="profile.existing">Aktualizuj</span>
                </button>
                <button class="btn btn-default" ng-click="showAll()">Pokaż wszystkich</button>
                <button class="btn btn-default" ng-click="close()">Anuluj</button>
            </nav>
            <div ng-if="profile.current">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Profil</label>
                        <p>Dodatkowe punkty:</p>
                        <input type="number" id="extra" class="form-control" ng-model="profile.current.scoring.extra">
                    </div>
                    <div class="col-sm-9">
                        <div class="form-inline">
                            {{profile.current.name}},
                            <input type="text" id="city" class="form-control" ng-model="profile.current.city">,
                            status: <select id="status" class="form-control" ng-model="profile.current.status">,
                                <option value="lead">Lead</option>
                                <option value="talk">Talk</option>
                                <option value="reject">Reject</option>
                                <option value="deal">Deal</option>
                            </select>
                        </div>
                        <div taggle id="tags" tags="profile.current.tags"></div>
                        <textarea id="comment" class="form-control" style="height:80px" ng-model="profile.current.comment" placeholder="Komentarz"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Adresy e-mail</label>
                    <div class="col-sm-9">
                        <div class="emails" ng-class="{less: !more.emails, more: more.emails}">
                            <ul>
                                <li
                                    ng-repeat="(i, email) in profile.current.email track by i"
                                    ng-class="{confirmed:email.confirmed}">
                                    {{email.address}} [{{email.source}}]
                                    <a ng-if="email.confirmed === null" ng-click="checkEmail(email.address)">[check]</a>
                                    <a ng-click="removeEmail(i)">[X]</a>
                                </li>
                                <li
                                    ng-repeat="(i, github) in profile.current.github track by i"
                                    ng-if="!github.removed && github.email">
                                    {{github.email}} [github]
                                    <a ng-if="more.emails" ng-click="checkEmail(github.email)"> - zweryfikuj</a>
                                </li>
                                <li ng-repeat="(i, email) in emailQueue track by i">
                                    {{email}} [poszukiwany]
                                </li>
                                <li ng-if="!more.emails"><a ng-click="more.emails = true">więcej...</a></li>
                                <li ng-if="more.emails"><a ng-click="more.emails = false">mniej.</a></li>
                            </ul>
                            <div class="form-inline" ng-if="more.emails">
                                Dodaj ręcznie:
                                <input type="text" class="form-control" ng-model="newmail" placeholder="Wpisz adres e-mail">
                                <button class="btn btn-default" ng-click="addEmail(newmail);newmail=''">Dodaj</button>
                            </div>
                            <button ng-if="more.emails" class="btn btn-link" ng-click="searchEmail()" ng-disabled="emailQueue.length > 0">Automatycznie szukaj adresu e-mail</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Skills</label>
                        <scoring score="profile.current.scoring.skills"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div class="bullets">
                            <div class="bullet" ng-repeat="skill in profile.current.skills | orderBy:'count':true | limitTo:more.skills&&1000||3">
                                <span class="label label-default">
                                    {{skill.name}}
                                    <span class="badge">{{skill.count}}</span>
                                </span>
                            </div>
                            <span ng-if="!more.skills && profile.current.skills.length - 3 > 0"><a ng-click="more.skills = true">więcej (+{{profile.current.skills.length - 3}})...</a></span>
                            <span ng-if="more.skills"><a ng-click="more.skills = false">mniej.</a></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Praca</label>
                        <scoring score="profile.current.scoring.experience"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div ng-if="!more.jobs">
                            <span ng-repeat="job in profile.current.jobs | limitTo:more.jobs&&1000||3"><span class="nowrap" ng-class="{bold: job.current}">{{job.position}}</span>; </span>
                            <span ng-if="!more.jobs"><a ng-click="more.jobs = true">więcej<span ng-if="profile.current.jobs.length - 3 > 0"> (+{{profile.current.jobs.length - 3}})</span>...</a></span>
                        </div>
                        <div ng-if="more.jobs" class="jobs">
                            <div class="job" ng-repeat="job in profile.current.jobs">
                                <div><strong>{{job.position}}</strong></div>
                                <div>Firma: <i>{{job.company}}</i></div>
                                <div>Miasto: {{job.locality}}</div>
                                <div>Okres zatrudnienia: {{job.period}} miesięcy</div>
                                <div ng-if="job.current" class="bold">Obecnie zatrudniony</div>
                                <hr>
                            </div>
                            <div ng-if="more.jobs"><a ng-click="more.jobs = false">mniej.</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="description" class="control-label">Opis</label>
                        <scoring score="profile.current.scoring.description"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div class="clamp">{{profile.current.description}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Języki</label>
                        <scoring score="profile.current.scoring.languages"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div class="strips">
                            <div ng-repeat="language in profile.current.languages">
                                <span class="label label-default">
                                    {{language.name}}
                                    <div class="badge">{{language.proficiency}}</div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">Uczel.</label>
                        <scoring score="profile.current.scoring.education"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div ng-if="!more.education">
                            <span ng-repeat="education in profile.current.education | limitTo:more.education&&1000||3"><span class="nowrap" class="bold">{{education.school}}</span>; </span>
                            <span ng-if="!more.education"><a ng-click="more.education = true">więcej<span ng-if="profile.current.education.length - 3 > 0"> (+{{profile.current.education.length - 3}})</span>...</a></span>
                        </div>
                        <div ng-if="more.education" class="educationlist">
                            <div class="education" ng-repeat="education in profile.current.education">
                                <div><strong>{{education.school}}</strong></div>
                                <div>Stopień: <i>{{education.degree}}</i></div>
                                <div>Specjalność: {{education.major}}</div>
                                <div>Okres: {{education.date}}</div>
                                <hr>
                            </div>
                            <div ng-if="more.education"><a ng-click="more.education = false">mniej.</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label class="control-label">GitHub</label>
                        <scoring score="profile.current.scoring.github"></scoring>
                    </div>
                    <div class="col-sm-9">
                        <div class="githubs">
                            <div class="github" ng-repeat="(i, github) in profile.current.github | filter:{removed:false} track by i">
                                <img ng-src="{{github.avatar}}" class="img-rounded" style="width:50px;height:50px;float:left;">
                                <button class="btn btn-danger" ng-click="github.removed = true" style="float:right;">X</button>
                                <div><strong>{{github.city}}</strong></div>
                                <div><a ng-click="openGithub(github.username)">{{github.username}}</a><span ng-if="github.email">, <a ng-href="mailto:{{github.email}}">{{github.email}}</a></span></div>
                                <hr>
                            </div>
                        </div>
                        <div class="form-inline">
                            <input type="text" class="form-control" ng-model="githubSearch" placeholder="Wpisz nazwę użytkownika">
                            <button class="btn btn-default" ng-click="addGithubProfile(githubSearch)">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../scripts/libs/jquery/dist/jquery.min.js"></script>
        <script src="../scripts/libs/angular/angular.min.js"></script>
        <script src="../scripts/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../scripts/libs/taggle.js/assets/js/taggle.min.js"></script>
        <script src="../scripts/content/storage.js"></script>
        <script src="../scripts/content/models/profile.model.js"></script>
        <script src="../scripts/content/models/skill.model.js"></script>
        <script src="../scripts/content/models/job.model.js"></script>
        <script src="../scripts/content/models/language.model.js"></script>
        <script src="../scripts/content/models/education.model.js"></script>
        <script src="../scripts/content/models/github.model.js"></script>
        <script src="../scripts/content/models/scoring.model.js"></script>
        <script src="../scripts/content/models/email.model.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/directives/scoring.directive.js"></script>
        <script src="js/directives/taggle.directive.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>