<!doctype html>
<html ng-app="App" ng-csp="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div ng-controller="ProfileCtrl">
            <div>
                <img ng-src="{{profile.current.img}}">
            </div>
            <div>
                <s ng-if="profile.current.name !== profile.existing.name">{{profile.existing.name}}</s>
                {{profile.current.name}}
            </div>
            <button ng-click="showAll()">Show all</button>
        </div>
        <script src="../scripts/libs/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>