
<div class="row">
    <img ng-src="{{profile.img}}" alt="" class="img-circle col s2">
    <div class="col s9">
        <h2 class="title">{{profile.name}}</h2>
        <div class="emails">
            <p ng-repeat="(i, email) in profile.email track by i" ng-class="{confirmed:email.confirmed}">
                <a ng-href="mailto:{{email.address}}">{{email.address}}</a> [{{email.source}}]
            </p>
        </div>
        <p>City:    {{profile.city}} </p>
        <p>Status: {{profile.status}} </p>
        <ul>
        <li ng-repeat="tag in profile.tags" class="tag">
            <button class="{{tag}}" ng-click="updateStatus(profile)">{{tag}}</button>
        </li>
    </ul>
    <p>
    {{profile.comment}}
    </p>
</div>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</div>
