
<div class="profile">
    <div
        class="score"
        ng-class="scoreGroup(profile.score)">
        {{profile.score}}
    </div>
    <div
        class="photo"
        ng-style="{ backgroundImage: 'url('+profile.img+')' }">
    </div>
    <div class="info">
        <div class="city pull-right">{{profile.city}}</div>
        <h2>{{profile.name}}</h2>
        <div class="status">
            <span ng-class="{selected:profile.status==='no'}">No</span>
            <span ng-class="{selected:profile.status==='new'}">New</span>
            <span ng-class="{selected:profile.status==='contacted'}">Contacted</span>
            <span ng-class="{selected:profile.status==='dialog'}">Dialog</span>
            <span ng-class="{selected:profile.status==='rejected-he'}">Rejected-He</span>
            <span ng-class="{selected:profile.status==='rejected-we'}">Rejected-We</span>
            <span ng-class="{selected:profile.status==='in-future'}">In-future</span>
            <span ng-class="{selected:profile.status==='deal'}">Deal</span>
        </div>
        <div class="emails">
            <span ng-repeat="(i, email) in profile.email track by i" ng-class="{confirmed:email.confirmed}">
                <img src="images/email.png">
                <a ng-href="mailto:{{email.address}}">{{email.address}}</a>
            </span>
        </div>
        <div class="profiles">
            <a ng-href="https://www.linkedin.com/in/{{profile.id}}" title="{{profile.id}}" target="_blank" class="linkedin">
                <img src="images/linkedin.png">
            </a>
            <a ng-repeat="(i, github) in profile.github track by i" ng-href="https://github.com/{{github.username}}" title="{{github.username}}" target="_blank" class="github">
                <img src="images/github.png">
            </a>
        </div>
    </div>
</div>
