<nav class="navbar navbar-default">
    <button class="btn btn-default" router-active="active" ng-link="['Linkedin']">
    	Linkedin ({{vm.profileService.data.profile.linkedin && 1 || 0}})
    </button>
    <button class="btn btn-default" router-active="active" ng-link="['Github']">
    	Github ({{vm.profileService.data.profile.github.length}})
    </button>
    <button class="btn btn-default" router-active="active" ng-link="['Trello']">
    	Trello ({{vm.profileService.data.profile.trello && 1 || 0}})
    </button>
    <button class="btn btn-default" router-active="active" ng-link="['Email']">
    	Email ({{vm.profileService.data.profile.email.length}})
    </button>
    <div class="pull-right">
    	<button class="btn btn-default" ng-click="vm.openBaseApp()">Panel mentorów</button>
    	<button class="btn btn-default" ng-click="vm.close()">Anuluj</button>
    </div>
</nav>

<ng-outlet></ng-outlet>
