body {
    margin-top: 60px;
}

.container {
    width: 870px;
}

header {
    padding-top: 15px;
}

.profile {
    display : flex;
    margin: 30px 0;
}

.profile .score {
    display: inline-block;
    margin-right: 16px;
    width: 125px;
    height: 125px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 125px;
    background-color: #eeeeee;
    vertical-align: top;
}

.profile .score.group1 {
    color: white;
    background-color: #e50011;
}

.profile .score.group2 {
    color: white;
    background-color: #d95817;
}

.profile .score.group3 {
    background-color: #cda52c;
}

.profile .score.group4 {
    background-color: #abc23f;
}

.profile .score.group5 {
    background-color: #79b64f;
}

.profile .score.group6 {
    background-color: #5caa5c;
}

.profile .score.group7 {
    background-color: #679f7e;
}

.profile .score.group8 {
    background-color: #6f938d;
}

.profile .score.group9 {
    color: white;
    background-color: #758387;
}

.profile .score.group10 {
    color: white;
    background-color: #78797c;
}

.profile .photo {
    display: inline-block;
    margin-right: 16px;
    width: 125px;
    height : 125px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eeeeee;
    vertical-align: top;
}

.profile .info {
    display: inline-block;
    flex: 1;
}

.profile .info h2 {
    margin: 0 0 10px 0;
}

.profile .info .city {
    margin: 10px 0;
}

.profile .info .status {
    margin: 10px 0;
}

.profile .info .status span {
    display: inline-block;
    padding: 0 8px;
    line-height: 24px;
    background-color: #e9e9e9;
}

.profile .info .status span.selected {
    color: white;
    background-color: #004cca;
}

.profile .info .emails {
    margin: 5px 0;
}

.profile .info .emails span a {
    color: black;
}

.profile .info .emails span + span:before {
    content: '| ';
}

.confirmed {
    font-weight: bold;
}

.contact {
    margin: 10px;
}

.spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}