<h3>Zweryfikowane</h3>
<div class="githubs">
    <div class="github" ng-repeat="(i, github) in vm.profile.existing.github track by i">
        <img ng-src="{{github.avatar}}" class="img-rounded" style="width:50px;height:50px;float:left;margin-right:10px;">
        <button class="btn btn-danger" ng-click="vm.remove(i, github)" style="float:right;">X</button>
        <div><strong>{{github.city}}</strong>, {{github.contributions}} commitów</div>
        <div>
            <a ng-click="vm.openGithub(github.username)">{{github.username}}</a><span ng-if="github.email">, <a ng-href="mailto:{{github.email}}">{{github.email}}</a></span><span ng-if="github.url">, <a ng-href="{{github.url}}">{{github.url}}</a></span>
        </div>
        <hr>
    </div>
</div>

<hr>
<h3>Pasujące</h3>
<div class="githubs">
    <div class="github" ng-repeat="(i, github) in vm.profile.current.github track by i">
        <img ng-src="{{github.avatar}}" class="img-rounded" style="width:50px;height:50px;float:left;margin-right:10px;">
        <button class="btn btn-default" ng-click="vm.add(i, github)" style="float:right;">Dodaj</button>
        <div><strong>{{github.city}}</strong>, {{github.contributions}} commitów</div>
        <div>
            <a ng-click="vm.openGithub(github.username)">{{github.username}}</a><span ng-if="github.email">, <a ng-href="mailto:{{github.email}}">{{github.email}}</a></span><span ng-if="github.url">, <a ng-href="{{github.url}}">{{github.url}}</a></span>
        </div>
        <hr>
    </div>
</div>

<hr>
<h3>Dodaj ręcznie</h3>
<div class="form-inline">
    <input type="text" class="form-control" ng-model="vm.githubSearch" placeholder="Wpisz nazwę użytkownika">
    <button class="btn btn-default" ng-click="vm.addGithubProfile(vm.githubSearch)">Dodaj GitHub</button>
</div>