<nav class="navbar navbar-default">
    <button class="btn btn-primary" ng-if="vm.profile.current && !vm.profile.existing" ng-click="vm.save()">Dodaj</button>
    <button class="btn btn-default" ng-click="vm.showAll()">Pokaż wszystkich</button>
    <button class="btn btn-default" ng-click="vm.close()">Anuluj</button>
    <div class="points pull-right" ng-if="vm.profile.current">
        <ng-pluralize count="vm.scoreSum()" when="{
            '-4': '-4 punkty',
            '-3': '-3 punkty',
            '-2': '-2 punkty',
            '-1': '-1 punkt',
            '0': '0 punktów',
            '1': '1 punkt',
            '2': '2 punkty',
            '3': '3 punkty',
            '4': '4 punkty',
            'other': '{} punktów'
        }"></ng-pluralize>
    </div>
</nav>
<div ng-if="vm.profile.current">
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Profil</label>
            <p>Dodatkowe punkty:</p>
            <input type="number" id="extra" class="form-control" ng-model="vm.profile.current.scoring.extra">
        </div>
        <div class="col-sm-9">
            <div class="form-inline">
                {{vm.profile.current.name}},
                <input type="text" id="city" class="form-control" ng-model="vm.profile.current.city">,
                status: <select id="status" class="form-control" ng-model="vm.profile.current.status">,
                    <option value="no">No</option>
                    <option value="new">New</option>
                    <option value="contacted">Contacted</option>
                    <option value="dialog">Dialog</option>
                    <option value="rejected-He">Rejected-He</option>
                    <option value="rejected-We">Rejected-We</option>
                    <option value="in-future">In-future</option>
                    <option value="deal">Deal</option>
                </select>
            </div>
            <div taggle id="tags" tags="vm.profile.current.tags"></div>
            <textarea id="comment" class="form-control" style="height:80px" ng-model="vm.profile.current.comment" placeholder="Komentarz"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Adresy e-mail</label>
        <div class="col-sm-9">
            <div class="emails" ng-class="{less: !vm.more.emails, more: vm.more.emails}">
                <ul>
                    <li
                        ng-repeat="(i, email) in vm.profile.current.email track by i"
                        ng-class="{confirmed:email.confirmed}">
                        {{email.address}} [{{email.source}}]
                        <a ng-if="email.confirmed === null" ng-click="vm.checkEmail(email.address)">[check]</a>
                        <a ng-click="vm.removeEmail(i)">[X]</a>
                    </li>
                    <li
                        ng-repeat="(i, github) in vm.profile.current.github track by i"
                        ng-if="!github.removed && github.email">
                        {{github.email}} [github]
                        <a ng-if="vm.more.emails" ng-click="vm.checkEmail(github.email)"> - zweryfikuj</a>
                    </li>
                    <li ng-repeat="(i, email) in vm.MailVerifier.queue track by i">
                        {{email}} [poszukiwany]
                    </li>
                    <li ng-if="!vm.more.emails"><a ng-click="vm.more.emails = true">więcej...</a></li>
                    <li ng-if="vm.more.emails"><a ng-click="vm.more.emails = false">mniej.</a></li>
                </ul>
                <div class="form-inline" ng-if="vm.more.emails">
                    Dodaj ręcznie:
                    <input type="text" class="form-control" ng-model="vm.newmail" placeholder="Wpisz adres e-mail">
                    <button class="btn btn-default" ng-click="vm.addEmail(vm.newmail);newmail=''">Dodaj</button>
                </div>
                <button ng-if="vm.more.emails" class="btn btn-link" ng-click="vm.MailVerifier.searchEmail(vm.profile.current)" ng-disabled="vm.MailVerifier.queue.length > 0">Automatycznie szukaj adresu e-mail</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Skills</label>
            <scoring score="vm.profile.current.scoring.skills"></scoring>
        </div>
        <div class="col-sm-9">
            <div class="bullets">
                <div class="bullet" ng-repeat="(i, skill) in vm.profile.current.skills | orderBy:'count':true | limitTo:vm.more.skills&&1000||3 track by i">
                    <span class="label label-default">
                        {{skill.name}}
                        <span class="badge">{{skill.count}}</span>
                    </span>
                </div>
                <span ng-if="!vm.more.skills && vm.profile.current.skills.length - 3 > 0"><a ng-click="vm.more.skills = true">więcej (+{{vm.profile.current.skills.length - 3}})...</a></span>
                <span ng-if="vm.more.skills"><a ng-click="vm.more.skills = false">mniej.</a></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Praca</label>
            <scoring score="vm.profile.current.scoring.experience"></scoring>
        </div>
        <div class="col-sm-9">
            <div ng-if="!vm.more.jobs">
                <span ng-repeat="(i, job) in vm.profile.current.jobs | limitTo:vm.more.jobs&&1000||3 track by i"><span class="nowrap">{{i+1}}. <span ng-class="{bold: job.current}">{{job.position}}</span></span>; </span>
                <span ng-if="!vm.more.jobs"><a ng-click="vm.more.jobs = true">więcej<span ng-if="vm.profile.current.jobs.length - 3 > 0"> (+{{vm.profile.current.jobs.length - 3}})</span>...</a></span>
            </div>
            <div ng-if="vm.more.jobs" class="jobs">
                <div class="job" ng-repeat="(i, job) in vm.profile.current.jobs track by i">
                    <div><strong>{{job.position}}</strong></div>
                    <div>Firma: <i>{{job.company}}</i></div>
                    <div>Miasto: {{job.locality}}</div>
                    <div>Okres zatrudnienia: {{job.period}} miesięcy</div>
                    <div ng-if="job.current" class="bold">Obecnie zatrudniony</div>
                    <hr>
                </div>
                <div ng-if="vm.more.jobs"><a ng-click="vm.more.jobs = false">mniej.</a></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="description" class="control-label">Opis</label>
            <scoring score="vm.profile.current.scoring.description"></scoring>
        </div>
        <div class="col-sm-9">
            <div class="clamp">{{vm.profile.current.description}}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Języki</label>
            <scoring score="vm.profile.current.scoring.languages"></scoring>
        </div>
        <div class="col-sm-9">
            <div class="strips">
                <div ng-repeat="(i, language) in vm.profile.current.languages track by i">
                    <span class="label label-default">
                        {{language.name}}
                        <div class="badge">{{language.proficiency}}</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Uczel.</label>
            <scoring score="vm.profile.current.scoring.education"></scoring>
        </div>
        <div class="col-sm-9">
            <div ng-if="!vm.more.education">
                <span ng-repeat="(i, education) in vm.profile.current.education | limitTo:vm.more.education&&1000||3 track by i"><span class="nowrap">{{i+1}}. <span class="bold">{{education.school}}</span></span>; </span>
                <span ng-if="!vm.more.education"><a ng-click="vm.more.education = true">więcej<span ng-if="vm.profile.current.education.length - 3 > 0"> (+{{vm.profile.current.education.length - 3}})</span>...</a></span>
            </div>
            <div ng-if="vm.more.education" class="educationlist">
                <div class="education" ng-repeat="(i, education) in vm.profile.current.education track by i">
                    <div><strong>{{education.school}}</strong></div>
                    <div>Stopień: <i>{{education.degree}}</i></div>
                    <div>Specjalność: {{education.major}}</div>
                    <div>Okres: {{education.date}}</div>
                    <hr>
                </div>
                <div ng-if="vm.more.education"><a ng-click="vm.more.education = false">mniej.</a></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">GitHub</label>
            <scoring score="vm.profile.current.scoring.github"></scoring>
        </div>
        <div class="col-sm-9">
            <div class="githubs">
                <div class="github" ng-repeat="(i, github) in vm.profile.current.github | filter:{removed:false} track by i">
                    <img ng-src="{{github.avatar}}" class="img-rounded" style="width:50px;height:50px;float:left;margin-right:10px;">
                    <button class="btn btn-danger" ng-click="github.removed = true" style="float:right;">X</button>
                    <div><strong>{{github.city}}</strong>, {{github.contributions}} commitów</div>
                    <div>
                        <a ng-click="vm.openGithub(github.username)">{{github.username}}</a><span ng-if="github.email">, <a ng-href="mailto:{{github.email}}">{{github.email}}</a></span><span ng-if="github.url">, <a ng-href="{{github.url}}">{{github.url}}</a></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="form-inline">
                <input type="text" class="form-control" ng-model="vm.githubSearch" placeholder="Wpisz nazwę użytkownika">
                <button class="btn btn-default" ng-click="vm.addGithubProfile(vm.githubSearch)">Dodaj GitHub</button>
            </div>
        </div>
    </div>
</div>