<nav class="navbar navbar-default">
    <button class="btn btn-primary" ng-if="vm.profileService.profile.current.linkedin[0] && !vm.profileService.profile.existing.linkedin[0]" ng-click="vm.save()">Dodaj</button>
    <span ng-if="vm.profileService.profile.current.linkedin[0] && vm.profileService.profile.existing.linkedin[0]">Zapisany w bazie mentorów</span>

    <button class="btn btn-default" ng-click="vm.showAll()">Pokaż wszystkich</button>
    <button class="btn btn-default" ng-click="vm.close()">Anuluj</button>

    <div class="points pull-right" ng-if="vm.profileService.profile.current.linkedin[0]">
        <ng-pluralize count="vm.scoreSum()" when="{
            '-4': '-4 punkty',
            '-3': '-3 punkty',
            '-2': '-2 punkty',
            '-1': '-1 punkt',
            '0': '0 punktów',
            '1': '1 punkt',
            '2': '2 punkty',
            '3': '3 punkty',
            '4': '4 punkty',
            'other': '{} punktów'
        }"></ng-pluralize>
    </div>
</nav>
<div ng-if="vm.profileService.profile.current.linkedin[0]">
    <linkedin-general profile="vm.profileService.profile"></linkedin-general>
    <linkedin-emails profile="vm.profileService.profile"></linkedin-emails>
    <linkedin-skills profile="vm.profileService.profile"></linkedin-skills>
    <linkedin-jobs profile="vm.profileService.profile"></linkedin-jobs>
    <linkedin-description profile="vm.profileService.profile"></linkedin-description>
    <linkedin-languages profile="vm.profileService.profile"></linkedin-languages>
    <linkedin-education profile="vm.profileService.profile"></linkedin-education>
</div>